/* Conteneur principal */
.services-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(51, 255, 0, 0);
  border-radius: 8px;
  height: 550px;
  overflow-y: auto;
}

/* Conteneur pour chaque service */
.service-toggle-container {
  width: 50%;
  max-width: 400px;
  margin: 0 auto 15px auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation-fill-mode: forwards; /* Conserve l'état final */
  transition: box-shadow 0.3s;
}

/* En-tête */
.service-toggle-header {
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, #003f5c, #6a9cb8);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* En-tête actif */
.service-toggle-header.active {
  background: linear-gradient(to right, #002d45, #507d92);
}

/* Contenu du service */
.service-toggle-details {
  padding: 15px;
  background: #ffffff;
  border-radius: 0 0 30px 30px;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
}

/* Liste des détails */
.service-details {
  list-style-type: none;
  padding: 0;
  margin: 15px 0 0 0;
}

.service-details li {
  margin-bottom: 10px;
  text-align: justify;
}

/* Animation gauche-droite */
@keyframes entrerGauche {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes entrerDroite {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.service-toggle-container.gauche {
  animation: entrerGauche 0.5s ease-out forwards;
}

.service-toggle-container.droite {
  animation: entrerDroite 0.5s ease-out forwards;
}

/* Texte d'introduction */
.intro-text-nos-services {
  margin: 0 auto 20px auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #054461;
  padding: 10px 30px;
  width: 300px;
  border-radius: 30px;
  background: linear-gradient(to right, #bac1bb, #9bb8bc8d);
  animation: descendreIntroduction 1s ease-out forwards;
}

@keyframes descendreIntroduction {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
