/* Conteneur principal */
.rgpd-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(51, 255, 0, 0); /* Transparent */
  border-radius: 8px;
  overflow-y: auto;
}

/* Texte d'introduction */
.intro-text-rgpd {
  margin: 20px auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #054461;
  padding: 10px 30px;
  border-radius: 30px;
  background: linear-gradient(to right, #bac1bb, #9bb8bc8d);
  animation: descendreIntroduction 1s ease-out forwards;
}

@keyframes descendreIntroduction {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Conteneur d'une section */
.rgpd-toggle-container {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Masqué au départ */
  animation-fill-mode: forwards;
  transition: box-shadow 0.3s ease;
}

/* En-tête de la section */
.rgpd-toggle-header {
  padding: 15px;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(to right, #003f5c, #6a9cb8);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

/* Activer la section */
.rgpd-toggle-header.active {
  background: #005f7c;
}

/* Contenu des détails */
.rgpd-toggle-details {
  padding: 15px;
  background: #ffffff;
  border-radius: 0 0 30px 30px;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  opacity: 1;
}

/* Animations */
@keyframes entrerGauche {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes entrerDroite {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.rgpd-toggle-container.gauche {
  animation: entrerGauche 0.5s ease-out forwards;
}

.rgpd-toggle-container.droite {
  animation: entrerDroite 0.5s ease-out forwards;
}

/* Media Queries */
@media (max-width: 768px) {
  .rgpd-container {
    width: 95%;
    padding: 10px;
  }
  .intro-text-rgpd {
    font-size: 1.5rem;
  }
  .rgpd-toggle-header {
    font-size: 1rem;
  }
  .rgpd-toggle-details {
    font-size: 0.9rem;
  }
}
